.fundo{

    background-color: #222;
    color: white;

}

.card-job{

    background-color: #444;
    border-radius: 10px;
    padding: 0;
    margin-top: 50px;
    
    
    
}

.header-job{

    background-color: #333;
    width: 100% !important;
    padding: 5px;
    padding-left: 15px;
    

}

.row-card{
    margin-top: 40px;
}

.titulo-job{

    color: #FFF;
    font-weight: bold;
    margin-top: 10px;

}

.body-job{

    padding: 5px;
    padding-left: 15px;

}

.titulo-body{

    color: #FFCF00;
    margin-top: 10px;

}

.titulo{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 52px;
    display: inline;
    color: #FFF;
    padding-bottom: 10px;
}

.job-modal-titulo{
    
    
    color: transparent;
    font-size: 30px;
    font-weight: bold;
}