{% extends 'base.html' %}
{% load static %}


{% block 'head' %}
		<link rel="stylesheet" href="{% static 'jobs/css/encontrar_jobs.css' %}">
        <link rel="stylesheet" href="{% static 'jobs/css/perfil.css' %}">
{% endblock %}


{% block 'body' %}
    <br>
    <br>
    <div class="container">
        {% if messages %}
            {% for message in messages %}
                <div class="alert {{message.tags}}">
                    {{message}}
                </div>
            {% endfor %}
        {% endif %}
        <div style="width: 60%">
            <form action="{% url 'perfil' %}" method="POST">{% csrf_token %}
                <p>Username:</p>
                <input type="text" class="form-control" value="{{user.username}}" name="username">
                <br>
                <p>Email:</p>
                <input type="email" class="form-control" value="{{user.email}}" name="email">
                <br>
                <p>Primeiro nome:</p>
                <input type="text" class="form-control" value="{{user.first_name}}" name="primeiro_nome">
                <br>
                <p>Último nome:</p>
                <input type="text" class="form-control" value="{{user.last_name}}" name="ultimo_nome">
                <br>
                <input type="submit" class="btn btn-success btn-lg" value="Salvar alterações">
            </form>
        </div>
 
    </div>

{% endblock %}